body {
  margin: 0 auto;
  color: #f2f2f2;
}

h1 {
  font-size: 3.25rem;
}

h4 {
  font-size: 1.25rem;
  
}

h1,
h2,
h3,
h4 {
  font-family: "Assistant", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: white;
  height: 6rem;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  color: rgb(51, 100, 61);
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0 4rem;
}

.links ul {
  display: flex;
}

.links li {
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 0.25rem;
  margin-right: 0.5rem;
}
nav a {
  text-decoration: none;
  color: rgb(51, 100, 61);
}

nav a:hover {
  cursor: pointer;
  color: rgba(51, 100, 61, 0.5);
}


.links a {
  padding: 0.25rem;
  margin: 0.25rem;
}

.links ul li ul {
  display: none;
  position: absolute;
  margin-left: -2.25rem;
  padding: 2.25rem 0.25rem 0.25rem 0.25rem;
  background-color: white;
}

.links ul li ul a {
  margin: 0.25rem;
  padding: 0.25rem;
}


.links ul li:hover ul{
  display: block;
}


header a {
  text-decoration: none;
}

.logo {
  height: 4rem;
}

.logo a {
  color: rgb(51, 100, 61);
  padding: 0 0.75rem;
}

.logo img {
  display: block;
  margin: auto;
  height: 3.5rem;
}

.hero {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../resources/images/hero/Sportplatz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  height: 40rem;
}

.abteilungen h3{
  font-size: 2rem;
}

.abteilungen {
  text-align: left;
}

.abteilungen img {
  border-radius: 0.5rem;
}

.badminton {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../Badminton/badminton.jpg);
}

.tischtennis {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../Tischtennis/tischtennis.jpg);
}

.volleyball {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../Volleyball/volleyball.jpg);
}

.gymnastik {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../Breitensport/gymnastik.jpg);
}

.bauch {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../Breitensport/bauch.jpg);

}

.leichtathletik {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../Breitensport/leichtathletik.jpg);
}

.turnen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../Breitensport/kinderturnen.jpeg);
}

.bambinis {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../Fussball/bambinis.jpg);
}

.ball {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../Fussball/ball.jpg);
}

.hero article {
  text-align: center;
}

.hero article p {
  font-size: 1.25rem;
}

.headline {
  color: #f2f2f2;
  padding: 0.25rem;
  text-align: left;
  line-height: 2;
  text-shadow: 0 1px 0 black;
}

button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

main {
  margin: 0 10rem;
  text-align: center;
  color: #01401c;
}

main h2 {
  font-size: 3rem;
}

.news {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.news_card {
  text-align: left;
  position: relative;
  width: 24rem;
  background-color: rgba(46, 229, 157, 0.4);
  border-radius: 0.5rem;
  overflow: hidden;
  padding-bottom: 0.625rem;
  box-shadow: 1px 2px 8px rgba(100, 100, 100, 0.1);
  transition: 0.3s ease-in;
}

.news_card:hover {
  transition: 0.3s ease-out;
  transform: scale(1.03);
  box-shadow: 1px 2px 8px rgba(100, 100, 100, 0.3);
}

.image_wrapper {
  background-image: url(../resources/images/logo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;

  width: auto;
  height: 20rem;
  overflow: hidden;
}

.news_card img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 1s ease-out;
}

.news_card img:hover {
  transform: scale3d(1.2, 1.2, 1);
  transition: all 1s ease-in;
}

.text_box {
  padding: 1.25rem;
}

.text_box h3 {
  font-size: 2.25rem;
  line-height: 1;
}

.text_box p {
  font-size: 0.85rem;
  padding-top: 0.625rem;
  line-height: 2;
}

.text_box time {
  color: rgba(51, 100, 61, 0.9);
  font-size: 0.85rem;
}

.news_card a {
  position: absolute;
  bottom: 0;
  display: inline-block;
  margin: 0.625rem;
  padding: 0.313rem 0.625rem;
  text-decoration: none;
  color: rgb(51, 100, 61);
  font-size: 0.85rem;
  font-weight: bold;
}

.news_card a:hover {
  color: #26201d;
  transition: linear 0.2s;
}

main section {
  margin-top: 5rem;
}

.ort {
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 8px rgba(100, 100, 100, 0.1);
}

.anfahrt div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



.kontakt {
  padding: 10rem 5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  line-height: 0;
}

.sponsoren {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15rem;
}

.sponsor_card {
  width: 15rem;
  height: 3.75rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 8px rgba(100, 100, 100, 0.1);
  overflow: hidden;
  padding: 0.5rem;
  transition: 0.3s ease-in;
}

.sponsor_card img {
  display: block;
  margin: auto;
  max-width: 100%;
  width: auto;
  height: 3.75rem;
  overflow: hidden;
  object-fit: contain;
}

.sponsor_card:hover {
  transition: 0.3s ease-out;
  transform: scale(1.05);
  box-shadow: 1px 2px 8px rgba(100, 100, 100, 0.3);
}

footer {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(51, 100, 61, 0.9);
  padding: 2.5rem 0;
}

footer img {
  width: 1.625rem;
  height: auto;
  margin: 1rem;
}

footer nav a {
  color: #f2f2f2;
  padding: 0 1rem;
  cursor: pointer;
  padding: 1rem;
}

footer nav a:hover {
  color: lightgray;
}

.copyright {
  font-size: 0.75rem;
  color: lightgrey;
}

@media only screen and (orientation: portrait) {
  .links {
    display: none;
  }

  header {
    flex-direction: row-reverse;
    justify-content: end;
    padding: 0;
  }

  main {
    margin: 0 1rem;
  }

  .headline {
    padding: 1rem;
    line-height: 1;
  }

  .hero article {
    text-align: left;
  }

  .hero button {
    margin: 1rem;
  }
}
